<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" type="text/css" href={css}>
</head>
<body>
  <div id = "wrap" class = "wrap">
  <header class = "header">
    <div id = "header-container" class = "header-container">
      <h1 class = "header-title">{title}</h1>
      <h2 class = "header-subTitle">{subTitle}</h2>
    </div>
  </header>
  <nav class = "nav">
    <ul class = "nav-box">
      {menu}
    </ul>
  </nav>
  <main class = "main">
  {content}
  </main>
</div>
<footer class= "footer">
  {footer}
</footer>
</body>
</html>
