.tree-view .tree-cell{
  -fx-background: #FFFFFF;
}
.tree-view{
	 -fx-border-style: none;
  -fx-background-color:transparent;
}

.button {
	-fx-background-color: #F2F2F2;
}

HBox#topBar{
 -fx-background-color: #333333;
}
#close {
	-fx-background-color: #333333;
}
