.root{
	-fx-background-color:#2D3E50;
}
.button{
	-fx-background-color:#60c8aa;
	-fx-padding: 5 10 5 10;	
}
.button:hover{
	-fx-background-color:#E64C66;	
}
.tab-pane{
	-fx-tab-min-width:90px;
	-fx-background-color:#FFFFFF;
	-fx-faint-focus-color:transparent;
}
.tab {
	-fx-background-insets: 0 1 0 1,0,0;
	-fx-background-color:#727272;
	-fx-faint-focus-color:transparent;
	
}
.tab .tab-label{
	-fx-text-fill:#FFFFFF;
	-fx-font-weight: bold;
}

*.tab-header-background, *.tab-header-area{
	-fx-background-color:#FFFFFF;
}
#setting-general, #setting-layout, #setting-category{
	-fx-background-color:#FFFFFF;
	-fx-border-width: 2 0 0 0;
	-fx-border-color: #E64C66;
}
#setting-category {
	-fx-padding: 15 10 20 10;
}
#upload{
	-fx-background-color:#FFFFFF;
	-fx-padding: 15 10 20 10;
}
.tab-pane .tab:selected
{
    -fx-background-color: #E64C66;
}
.text-field, .text-area, .content {
	-fx-background-color:#F2F2F2;
	-fx-padding: 7 10 7 10;
}

#upload-title{
	-fx-text-fill:#E64C66;
}

.color-picker, .choice-box{
	-fx-background-color:#F2F2F2;
	-fx-padding: 2 5 2 5;
}
#setting-category-item{
	-fx-background-color:#F2F2F2;
	-fx-padding: 5 10 5 10;
	-fx-border-radius: 5;
	-fx-border-width: 0;
}

/* CSS style for all components. 

#edit-view {
	-fx-background-color:#FFFFFF;
}

#center-edit {
	-fx-background-color:#FFFFFF;
}

ComboBox, ToggleButton, Button, ColorPicker, ChoiceBox{
	-fx-background-color:#f3f0e9;
	-fx-border-color: #f3f0e9;
}

ColorPicker:hover, ChoiceBox:hover{
	-fx-background-color:#b2c8d8;
	-fx-border-color: #004a80;
	-fx-text-fill:#FFFFFF;
}

TextField{
	-fx-background-color:#f3f0e9;
	-fx-border-color: #FFFFFF;
}
TextField:focused{
	-fx-background-color: #b2c8d8;
}

.button:hover{
	-fx-background-color:#004a80;
	-fx-border-color: #004a80;
	-fx-text-fill:#FFFFFF;
}

.tree-view .tree-cell{
  -fx-background: #2D3E50;
  -fx-text-fill:#FFFFFF;
  -fx-padding: 10 0 10 0;
}

.tree-view .tree-cell:selected {
  -fx-background: #E64C66;
  -fx-text-fill:#FFFFFF;
}

#box {
  -fx-faint-focus-color:#2D3E50;
  -fx-background-color: #2D3E50;
}

#authorHbox {
  -fx-background-color: #F2F2F2;
  -fx-padding: 5 0 5 0;
}

.tree-view{
  -fx-border-style: none;
  -fx-background-color: #2D3E50;
  -fx-font-size: 12px;
  -fx-faint-focus-color:#2D3E50;
}

.button#upload, .button#setting {
  -fx-background-color: #2D3E50;
  -fx-border-width: 0px;
}
.button#save{
  -fx-background-color: #E64C66;
  -fx-text-fill:#FFFFFF;
  -fx-border-width: 0px;
  -fx-padding: 5 20 5 20;
}
.button#save:hover{
  -fx-background-color: #d42242;
}

.top-toolbar, .bottom-toolbar, #center-edit{
  -fx-background-color: #FFFFFF;
}

.html-editor {
	-fx-font-size: 12px;
	-fx-focus-color: #FFFFFF;
	-fx-faint-focus-color:#FFFFFF;
	-fx-background-color: #FFFFFF;
}

#showInput, #titleInput {
	-fx-font-size: 12px;
	-fx-border-width: 1px;
	-fx-border-color: #e5bbc2;
	-fx-border-radius: 5;
}
#selectCategoryLabel{
	-fx-padding: 0 0 0 10;
}

#showLabel, #titleLabel{
	-fx-padding: 0 5 0 0;
	-fx-font-size: 12px;
}
#titleLabel{
	-fx-padding: 0 10 0 10;
}

#selectCategory {
	-fx-background-color: #f3f0e9;
	-fx-border-width: 1px;
	-fx-border-color: #e5bbc2;
	-fx-border-radius: 5;
	-fx-padding: 1 15 1 10;
}

#titleInput, #showInput {
	-fx-background-color: #f3f0e9;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}
*/