<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <Menu>
        <MenuItem>
            <name>Home</name>
            <targetURL>./index.html</targetURL>
        </MenuItem>
        <MenuItem>
            <name>About Me</name>
            <targetURL>./page/text.html</targetURL>
        </MenuItem>
    </Menu>
    <footer>Cherrie@copy right.</footer>
    <layout>rose</layout>
    <localPath>/Users/yu-shuan/Documents/CMS/</localPath>
    <publish>https://cherriesweb.000webhostapp.com/</publish>
    <subTitle>My websites</subTitle>
    <title>My First Application</title>
</Settings>
