<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <Menu>
        <MenuItem>
            <name>Home</name>
            <targetURL>./index.html</targetURL>
        </MenuItem>
        <MenuItem>
            <name>Travel</name>
            <targetURL>./test/first.html</targetURL>
        </MenuItem>
    </Menu>
    <localPath>/Users/yu-shuan/FinalProject/</localPath>
    <publish>https://cherriesweb.000webhostapp.com/</publish>
    <subTitle>The first version</subTitle>
    <title>Game Designer</title>
</Settings>
