<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <Menu>
        <MenuItem>
            <name>Home</name>
            <targetURL>./index.html</targetURL>
        </MenuItem>
        <MenuItem>
            <name>Japen</name>
            <targetURL>./page/first.html</targetURL>
        </MenuItem>
        <MenuItem>
            <name>Taiwan</name>
            <targetURL>./page/second.html</targetURL>
        </MenuItem>
    </Menu>
    <layout>rose</layout>
    <localPath>/Users/yu-shuan/FinalProject/</localPath>
    <publish>https://cherriesweb.000webhostapp.com/</publish>
    <subTitle>The first version</subTitle>
    <title>The First Website</title>
</Settings>
