html,body{
  padding: 0;
  height: 100%;
  width: 100%;
}
.wraper{
  min-height: 100%;
  width: 100%;
  background-color: <main>;
}
footer{
  height: 2.5em;
  width: 100%;
  text-align: center;
  background-color: <frame>;
  line-height: 2.5em;
}
h1,h2{
  margin: 0;
}
.navbar{
  border:0;
}
.header{
  background-color: <bk>;
  height: 8em;
  margin-top: 0;
  padding-top: 2em;
  color: <title>;
}
.navbar-nav{
    margin-bottom: 0.5em;
}
.header h1.header-title{
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}
.header h2.header-subtitle{
  letter-spacing: 0.1em;
  font-weight: lighter;
  padding-top: 1em;
  font-size: 0.9em;
  text-align: center;
}
.navbar-customized{
  background-color: <bk>;
  border-radius: 0;
}
.navbar-nav > li > a.nav-item, a.dropdown-toggle, .nav .open>a{
  font-weight: lighter;
  color: <subtitle>;
  border-color: <bk>;
}
/* <subtitle>  rgba(255, 255, 255, 0.7)*/
.navbar-nav > li > a.nav-item:hover, .nav>li>a:hover, .nav>li>a:focus, .nav .open>a:focus{
  background-color: <subtitle>;
  color: <bk>;
}
.main{
  width: 90%;
  max-width: 700px;
  margin: auto;
}
.main > .main-title{
  font-size: 2em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.2);
  padding-left: 0.2em;
}
.main > .main-subtitle{
  background-color: rgba(80, 80, 80, 0.1);
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.3em;
  border-radius: 10px;
}
.article{
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width:768px){
  .navbar-customized .navbar-toggle .icon-bar{
    background-color: <subtitle>;
  }
  h1, .main > .main-title{
    font-size: 1.5em;
  }
  h2, .main > .main-subtitle{
    font-size: 1.2em;
  }
}
