<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" type="text/css" href="file:///Users/yu-shuan/FinalProject/layout/preview/blue.css">
</head>
<body>
  <div id = "wrap" class = "wrap">
  <header class = "header">
    <div id = "header-container" class = "header-container">
      <h1 class = "header-title">layout title example</h1>
      <h2 class = "header-subTitle">layout subtitle example</h2>
    </div>
  </header>
  <nav class = "nav">
    <ul class = "nav-box">
      <li class = "nav-item"><a class = "nav-item-link">menu</a></li>
    </ul>
  </nav>
  <main class = "main">
  this is layout page preview.
  </main>
</div>
<footer class= "footer">
  cherrie @copy right
</footer>
</body>
</html>
