<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <Menu>
        <MenuItem>
            <fileName>index.html</fileName>
            <name>Home</name>
            <targetURL>./index.html</targetURL>
        </MenuItem>
        <MenuItem>
            <fileName>test2.html</fileName>
            <name>Test</name>
            <targetURL>./page/test2.html</targetURL>
        </MenuItem>
        <MenuItem>
            <fileName>test.html</fileName>
            <name>Description</name>
            <targetURL>./page/test.html</targetURL>
        </MenuItem>
    </Menu>
    <footer>Yu-Shuan @ copy right.</footer>
    <layout>blue</layout>
    <localPath>/Users/yu-shuan/Documents/CMS/</localPath>
    <publish>https://cherriesweb.000webhostapp.com/</publish>
    <subTitle>Test Web site.</subTitle>
    <title>This is a test page</title>
</Settings>
